<%- include('partials/header.ejs')%>
<div class="starter-template">
    <h1>Sistema de busca de continuidade</h1>
    <p class="lead">Consulta e adiciona novos registros</p>
</div>
<%- include('partials/footer.ejs')%>